a {
    background-color: blueviolet;
    background-color: rgb(157, 82, 228);
    background-color: rgb(211, 183, 236);
    background-color: rgb(154, 118, 189);
    background-color: rgb(90, 40, 138);
    
}